		
	body {
		/*To hide the horizontal scroller appearing during the animation*/
	background-color:white;
	width:100%;
	height:150%;
	font-family:"Comic Sans", Comic Sans MS, cursive;
}	


	#headBar
	{
	 
	 border-style:ridge;
	 border-color:grey;
	 border-width:20px 20px 20px 20px;
	
	}
  #llvOutFrame
	{
		position:relative;
		width:100%;
		height:80em;
		border-style:ridge;
		border-color:grey;
		border-width:20px 20px 20px 20px;
                overflow-y:scroll;
	}
	
   #llvContainer
	{
		position:relative;
		width:100%;
		height:100%;
		padding-bottom:10px;
		margin:15% 20% 5% 20%;
		left:-20%;
		-webkit-transform: scale(0.6);
		 -moz-transform:scale(0.6);
		 transform: scale(0.6);
	}
	
	
	
	
	
   .topWindow{
				 position:relative;
				 float:left;
				 margin-left:35%;
				 height: 190px;
				 width: 250px;
			     -webkit-transform: scale(1.2,1.2);
				 -moz-transform: scale(1.2,1.2);
				 transform: scale(1.2,1.2);
				 
				  -webkit-transition: border-radius 0.5s ease-in-out;
				  -moz-transition: border-radius 0.5s ease-in-out;
				  -o-transition: border-radius 0.5s ease-in-out;
				  transition: border-radius 0.5s ease-in-out;
				  
				
				 margin-top:5%;
				 -moz-transition: all 2s;
				-webkit-transition: all 2s;
				transition: all 2s;
				
				
   }

   .scene{  
				position:relative;
				height:100%;
			    width:100%;
				z-index:2;
				left:26%;
				margin-top:90px;
				margin-bottom:30px;
				
				-webkit-transform: scale(3.0,3.0);
				-moz-transform: scale(3.0,3.0);
				transform: scale(3.0,3.0);
				
				 border: 35px solid #CC9966;
				 border-radius: 15px;
				-moz-border-radius: 15px;
				-webkit-border-radius: 15px;
			

	}
			
	
	

	  .shade{
		position:absolute;
		display:block;
		height: 100%;
		width: 100%;
		z-index:1;
		opacity:0.45;
		background: rgba(0,0,0,.5);
		
	}
	
	
	
	.sun{
		position:absolute;
		height:12%;
		width:12%;
		top:30px;
		left:4%;
		z-index:2;
		opacity:1.0;
	
	}
	
	.moon{
		position:absolute;
		height:12%;
		width:12%;
		left:4%;
		top:30px;
		z-index:2;
		opacity:0.0;
	    }
		
		
	.birdFly1{
		position:absolute;
		height:50%;
		width:50%;
		top:5px;
		left:75%;
		z-index:4;
		opacity:0.0;
		-webkit-transform: scale(0.25,0.25);
		-moz-transform: scale(0.25,0.25);
		transform: scale(0.25,0.25);
		
		-webkit-animation: movebirds 25s linear infinite;
		-moz-animation: movebirds 25s linear infinite;
		-o-animation: movebirds 25s linear infinite;
		
		-webkit-animation: flaptop 25s linear infinite;
		-moz-animation: flaptop 25s linear infinite;
		-o-animation: flaptop 25s linear infinite;
	    }
		
	.birdFly2{
		position:absolute;
		height:50%;
		width:50%;
		top:5px;
		left:75%;
		z-index:3;
		opacity:0.0;
				
		-webkit-transform: scale(0.25,0.25);
		-moz-transform: scale(0.25,0.25);
		transform: scale(0.25,0.25);
		-webkit-animation: movebirds 25s linear infinite;
		-moz-animation: movebirds 25s linear infinite;
		-o-animation: movebirds 25s linear infinite;
		
		-webkit-animation: flapbottom 25s linear infinite;
		-moz-animation: flapbottom 25s linear infinite;
		-o-animation: flapbottom 25s linear infinite;
	    }
	
	.secondbirdFly1{
		position:absolute;
		height:50%;
		width:50%;
		top:10px;
		left:75%;
		z-index:6;
		opacity:0.0;
		
		-webkit-transform: scale(0.20,0.20);
		-moz-transform: scale(0.20,0.20);
		transform: scale(0.20,0.20);
		
		-webkit-animation: movebirds 26s linear infinite;
		-moz-animation: movebirds 26s linear infinite;
		-o-animation: movebirds 26s linear infinite;
		
		-webkit-animation: flaptop 26s linear infinite;
		-moz-animation: flaptop 26s linear infinite;
		-o-animation: flaptop 26s linear infinite;
	    }
		
	.secondbirdFly2{
		position:absolute;
		height:50%;
		width:50%;
		top:10px;
		left:75%;
		z-index:5;
		opacity:0.0;
		
		-webkit-transform: scale(0.20,0.20);
		-moz-transform: scale(0.20,0.20);
		transform: scale(0.20,0.20);
		
		-webkit-animation: movebirds 26s linear infinite;
		-moz-animation: movebirds 26s linear infinite;
		-o-animation: movebirds 26s linear infinite;
		
		-webkit-animation: flapbottom 26s linear infinite;
		-moz-animation: flapbottom 26s linear infinite;
		-o-animation: flapbottom 26s linear infinite;
	    }
	
	.thirdbirdFly1{
		position:absolute;
		height:50%;
		width:50%;
		top:10px;
		left:75%;
		z-index:8;
		opacity:0.0;
		
		-webkit-transform: scale(0.15,0.15);
		-moz-transform: scale(0.15,0.15);
		transform: scale(0.15,0.15);
		
		-webkit-animation: movebirds 27s linear infinite;
		-moz-animation: movebirds 27s linear infinite;
		-o-animation: movebirds 27s linear infinite;
		
		-webkit-animation: flaptop 27s linear infinite;
		-moz-animation: flaptop 27s linear infinite;
		-o-animation: flaptop 27s linear infinite;
	    }
		
	.thirdbirdFly2{
		position:absolute;
		height:50%;
		width:50%;
		top:10px;
		left:75%;
		z-index:7;
		opacity:0.0;
		
		-webkit-transform: scale(0.15,0.15);
		-moz-transform: scale(0.15,0.15);
		transform: scale(0.15,0.15);
		
		-webkit-animation: movebirds 27s linear infinite;
		-moz-animation: movebirds 27s linear infinite;
		-o-animation: movebirds 27s linear infinite;
		
		-webkit-animation: flapbottom 27s linear infinite;
		-moz-animation: flapbottom 27s linear infinite;
		-o-animation: flapbottom 27s linear infinite;
	    }	
	
	
		
	.kidsPlay{
		position:absolute;
		height:25%;
		width:25%;
		top:5.5em;
		left:2.5em;
		z-index:3;
		opacity:1.0;
		
		-webkit-transform: scale(0.23,0.23);
		-moz-transform: scale(0.23,0.23);
		transform: scale(0.23,0.23);
		
	    }	
	
	 
	   .container {
					position:relative;
					float:left;
					margin-left:-102%;
					margin-top:20%;
	                height:100%;
				    width:100%;
					
				  
				   }
	   .displayer {
			position:absolute;
			height:217px;
			width:865px;
			margin-top:48%;
			left:-5%;
			padding-left:3%;
			padding-top:15px;
			padding-bottom:15px;
			
			background-color:#4D4D4D;
			 border: 15px solid black;
			 border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			
			  -webkit-transition: all 0.5s ease-in-out;
			  -moz-transition: all 0.5s ease-in-out;
			  -o-transition: all 0.5s ease-in-out;
			  transition: all 0.5s ease-in-out;
}
			
		
	   
	   #leftScreen,#leftScreenContent, #middleScreen, #rightScreen,#rightScreenContent
			{
				 position:absolute;
				 height: 200px;
				 width: 200px;
				 margin:2px;
				 background-color:beige;
				 z-index:1;
				 
				
			}
			
		  
	   #leftPhoto, #rightPhoto
			{
				 position:relative;
				 float:left;
				 margin:10px;
				 height: 200px;
				 width: 300px;
				 background-color:black;
				 z-index:1;
			
				 
				
			
			}	
			
			
		 #middlePhoto
			{
				 position:relative;
				 float:left;
				 margin:10px;
				 height: 200px;
				 width: 300px;
				 background-color:grey;
				 z-index:6;
				 
				border: 10px ridge brown;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px; 
			
			}	
			
			
		#middlePhoto:hover {
			-webkit-transform: scale(2.5,2.5);
			-moz-transform: scale(2.5,2.5);
			transform: scale(2.5,2.5);
			left:-6%;
			top:0%;
			z-index:6;
			
			}
			
			
		#popBig 
			{
				display:block;
				font-size:0.7em;
				position:absolute;
				height:50%;
				width:60%;
				top:21%;
				left:19%;
				background:yellow;
				padding:10px;
				color:brown;
				opacity:0.6;
				z-index:8;
			}
			
		#leftPhotoPointer
			{
				 position:relative;
				 float:left;
				 margin:10px;
				 height:200px;
				 width:75px;
				 background-color:transparent;
				 z-index:4;
				 
				
			}	

		 #rightPhotoPointer
			{
				 position:relative;
				 float:right;
				 margin:10px;
				 height:200px;
				 width:75px;
				 background-color:transparent;
				 z-index:4;
				 
				
			}			
		
		#leftPhotoContent {position:absolute;
						   height:100%;
						   width:100%;
						   -webkit-transform:rotateY(-55deg);
						   background-color:grey;
						   	 
							border: 10px ridge brown;
							border-radius: 10px;
							-moz-border-radius: 10px;
							-webkit-border-radius: 10px; 
							opacity:0.5;
							 }
		#rightPhotoContent {position:absolute;
						   height:100%;
						   width:100%;
						   -webkit-transform:rotateY(55deg);
						   	 background-color:grey;
							 
							border: 10px ridge brown;
							border-radius: 10px;
							-moz-border-radius: 10px;
							-webkit-border-radius: 10px; 
							opacity:0.5;
		}
			
		#leftPointer, #rightPointer {
									 position:absolute;
									 height: 200px;
									 width:55px;
								     background-color:#4D4D4D;
									 display:block;
									 z-index:2;
									 }
		#leftPointer {left:1.5%}
		#rightPointer {left:93%}
		
	
		
		#middleScreen, #leftScreenContent, #rightScreenContent {
				 border: 5px solid brown;
				 border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				overflow:hidden;
				opacity:0.75;
				padding:5px;
				font-size:0.7em;
				}
				
				
	
			
			
		#leftScreen {left:12%;margin-left:1%; background-color:transparent} 
		#leftScreenContent {left:-25%;margin-left:1%;-webkit-transform:rotateY(-45deg);z-index:2;background-color:beige;} 
		#middleScreen {
						position:absolute;
						left:23%;
						margin-left:1%;
						width:400px;
						height:600px;
						z-index:4;
						top:-80%;
						font-size:1.5em;
						opacity:1.0;
						color:brown;
						overflow-y:scroll;
						z-index:5;
						border: 20px ridge brown;
						}
		#rightScreen {left:65%;margin-left:1%; background-color:transparent}
		#rightScreenContent {left:9%;margin-left:1%;-webkit-transform:rotateY(45deg);z-index:2;background-color:beige;}
	
	
		.playerBase {
						display:none;
						position:absolute;
						height:230px;
						width:1100px;
						left:-13.5%;
					
						background-color:black;
						padding-left:40px;
						z-index:4;
						margin-top:34%;
						-webkit-transform: scale(1.5,1.5);
						-moz-transform: scale(1.5,1.5)
						transform: scale(1.5,1.5);
						
						 border: 25px solid black;
						 border-radius: 15px;
						-moz-border-radius: 15px;
						-webkit-border-radius: 15px;
					}
					
		
		.playerBase2 {
						display:none;
						position:absolute;
						height:100px;
						width:1300px;
						left:-29%;
						margin-top:26%;
						padding:5px;
						background-color:#333333;
						-webkit-transform: scale(0.7,0.7);
						-moz-transform: scale(0.7,0.7)
						transform: scale(0.7,0.7);
						
						 border: 35px solid black;
						 border-radius: 25px;
						-moz-border-radius: 25px;
						-webkit-border-radius: 25px;
					}
		
	    #leftScreen:before {
					content: "";
					width: 0;
					height:0;
					position: absolute;
					left: -35%;
					top: 72px;
					margin-left: -20px;
					border-width: 20px 20px 20px 0px;
					border-style: solid;
					border-color: transparent white; 
					
				}
		
		#rightScreen:after {
					content: "";
					width: 0;
					height:0;
					position: absolute;
					left:136%;
					top: 72px;
					margin-left: -20px;
					border-width: 20px 0px 20px 20px;
					border-style: solid;
					border-color: transparent white;
					
				}
		
		#leftPhoto{left:-10%}
		#rightPhoto{left:-9%}
		#leftPhotoContent{left:20%}
		#middlePhoto{left:-7%}
		#rightPhotoContent{left:-3%}
		#leftPhotoPointer {left:-1%}
		#rightPhotoPointer {top:-91%;left:-4%}
		#leftPhoto:before {
					content: "";
					width: 0;
					height:0;
					position: absolute;
					left: 15%;
					top: 72px;
					margin-left: -20px;
					border-width: 20px 20px 20px 0px;
					border-style: solid;
					border-color: transparent white; 
					
				}
		
		#rightPhoto:after {
					content: "";
					width: 0;
					height:0;
					position: absolute;
					left:112%;
					top: 72px;
					margin-left: -20px;
					border-width: 20px 0px 20px 20px;
					border-style: solid;
					border-color: transparent white;
					
				}
		
	
*{ margin: 0; padding: 0;}
/*  Clouds and background into which clouds blend off scene */

a:hover
{
background-color:yellow;
}

#middleScreen a:focus
{
background-color:yellow;
}


#headr {
		position:absolute;
		display:none;
		top:-80%;
		height:1.5em;
		left:-38%;	
		padding-top:0.5em;
		padding-bottom:0.5em;
		width:430px;
		color:brown;
		font-size:1.2em;
		text-align:center;
		 border: 0.25em solid black;
		 border-radius: 0.25em;
		-moz-border-radius:0.25em;
		-webkit-border-radius: 0.25em;
		
		 -webkit-transition: all 0.5s ease-in-out;
		  -moz-transition: all 0.5s ease-in-out;
		  -o-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;
		
		}

#clouds{
    position:relative;
    height:5em;
    width:100%;
	padding: 100px 0;
	z-index:4;
	top:2.5em;

}

/* Cloud shape class and pseudo elements */
.cloud {
	top: 0em;
	width: 200px; height: 60px;
	background: #fff;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	z-index:3;
	position: absolute; 
	zoom:70%;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -20px; left: auto; right: 15px;
}

.clkmess {font-style:italic;padding:10px}

/* Classes to animate individual clouds */
/* Opacity and speeds set for overlap */
.x1 {

	left: 125%;
    top:-3.1em;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	transform: scale(0.25);
    opacity:0.2;
	/*Cloud animation with speed */
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	
	left: 125%;
	top:-3.15em;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	opacity: 0.2; 

	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {

	left: 125%; top:-2.5em;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
	opacity: 0.2; 
	
	-webkit-animation: moveclouds 17s linear infinite;
	-moz-animation: moveclouds 17s linear infinite;
	-o-animation: moveclouds 17s linear infinite;
}

.x4 {

	left: 125%; 
	top:-2em;
	
	-webkit-transform: scale(0.35);
	-moz-transform: scale(0.35);
	transform: scale(0.35);
	opacity: 0.2; 
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {

	left: 125%; top: -1.5em;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
	opacity: 0.2; 
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

 /* Cloud animations */
@-webkit-keyframes moveclouds {
	0% {left: 125%;}
	100% {left:-75%;}
}
@-moz-keyframes moveclouds {
	0% {left: 125%;}
	100% {left: -75%;}
}
@-o-keyframes moveclouds {
	0% {left: 125%;}
	100% {left: -75%;}
}
		

 /* Bird animations */
@-webkit-keyframes movebirds {
	0% {left:125%;opacity:0.0}
	14% {left:76%;opacity:0.0}
	15% {left:75%;opacity:1.0}
	84% {left:-17%;opacity:1.0}
	85% {left:-18%;opacity:0.0}
	100% {left:-35%;opacity:0.0}
}
@-moz-keyframes movebirds {
	0% {left:125%;opacity:0.0}
	14% {left:76%;opacity:0.0}
	15% {left:75%;opacity:1.0}
	84% {left:-17%;opacity:1.0}
	85% {left:-18%;opacity:0.0}
	100% {left:-35%;opacity:0.0}
}
@-o-keyframes movebirds {
	0% {left:125%;opacity:0.0}
	14% {left:76%;opacity:0.0}
	15% {left:75%;opacity:1.0}
	84% {left:-17%;opacity:1.0}
	85% {left:-18%;opacity:0.0}
	100% {left:-35%;opacity:0.0}
}
		
@-webkit-keyframes flaptop {
	13% {left:78%;opacity:0.0}
	16% {left:74%;opacity:1.0}
	22% {left:66%;opacity:0.0}
	29% {left:57%;opacity:1.0}
	36% {left:48%;opacity:0.0}
	43% {left:39%;opacity:1.0}
	50% {left:30%;opacity:0.0}
	57% {left:21%;opacity:1.0}
	64% {left:12%;opacity:0.0}
	71% {left:3%;opacity:1.0}
	78% {left:-6%;opacity:0.0}
	83% {left:-16%;opacity:1.0}
	87% {left:-20%;opacity:0.0}
}
@-moz-keyframes flaptop {
	13% {left:78%;opacity:0.0}
	16% {left:74%;opacity:1.0}
	22% {left:66%;opacity:0.0}
	29% {left:57%;opacity:1.0}
	36% {left:48%;opacity:0.0}
	43% {left:39%;opacity:1.0}
	50% {left:30%;opacity:0.0}
	57% {left:21%;opacity:1.0}
	64% {left:12%;opacity:0.0}
	71% {left:3%;opacity:1.0}
	78% {left:-6%;opacity:0.0}
	83% {left:-16%;opacity:1.0}
	87% {left:-20%;opacity:0.0}
}
@-o-keyframes flaptop {
	13% {left:78%;opacity:0.0}
	16% {left:74%;opacity:1.0}
	22% {left:66%;opacity:0.0}
	29% {left:57%;opacity:1.0}
	36% {left:48%;opacity:0.0}
	43% {left:39%;opacity:1.0}
	50% {left:30%;opacity:0.0}
	57% {left:21%;opacity:1.0}
	64% {left:12%;opacity:0.0}
	71% {left:3%;opacity:1.0}
	78% {left:-6%;opacity:0.0}
	83% {left:-16%;opacity:1.0}
	87% {left:-20%;opacity:0.0}
}	

@-webkit-keyframes flapbottom {
	13% {left:78%;opacity:0.0}
	16% {left:74%;opacity:0.0}
	22% {left:66%;opacity:1.0}
	29% {left:57%;opacity:0.0}
	36% {left:48%;opacity:1.0}
	43% {left:39%;opacity:0.0}
	50% {left:30%;opacity:1.0}
	57% {left:21%;opacity:0.0}
	64% {left:12%;opacity:1.0}
	71% {left:3%;opacity:0.0}
	78% {left:-6%;opacity:1.0}
	83% {left:-16%;opacity:0.0}
	87% {left:-20%;opacity:0.0}
}
@-moz-keyframes flapbottom {
	13% {left:78%;opacity:0.0}
	16% {left:74%;opacity:0.0}
	22% {left:66%;opacity:1.0}
	29% {left:57%;opacity:0.0}
	36% {left:48%;opacity:1.0}
	43% {left:39%;opacity:0.0}
	50% {left:30%;opacity:1.0}
	57% {left:21%;opacity:0.0}
	64% {left:12%;opacity:1.0}
	71% {left:3%;opacity:0.0}
	78% {left:-6%;opacity:1.0}
	83% {left:-16%;opacity:0.0}
	87% {left:-20%;opacity:0.0}
}
@-o-keyframes flapbottom {
	13% {left:78%;opacity:0.0}
	16% {left:74%;opacity:0.0}
	22% {left:66%;opacity:1.0}
	29% {left:57%;opacity:0.0}
	36% {left:48%;opacity:1.0}
	43% {left:39%;opacity:0.0}
	50% {left:30%;opacity:1.0}
	57% {left:21%;opacity:0.0}
	64% {left:12%;opacity:1.0}
	71% {left:3%;opacity:0.0}
	78% {left:-6%;opacity:1.0}
	83% {left:-16%;opacity:0.0}
	87% {left:-20%;opacity:0.0}
}	
		


		
	
	

