* {z-index:1}
* {padding:0;margin:0}

th {background:linear-gradient(beige,tan)}



}	

#popUp1 
	{
		position:absolute;
		width:400px;
		height:auto;
		padding:3px;
		left:100%;
		opacity:0.0;
		background-color:yellow;
		z-index:201;
	
	}
#imdiv
{
text-align:center;
color:red;
} 

.thisdiv
{
color:blue;
overflow:scroll;
}

.sys_od
{
border:1px solid black;
position:relative;
left:6%;
width:20em;
height:3em;
margin:0.5em;
padding:0.5em;
z-index:3;
font-size:1em;
}

.sys_id1
{
position:relative;
}

.sys_id2
{
position:relative;
left:0.5em;
width:85%;
height:1em;
z-index:2;
text-align:left;
margin-bottom:0.5em;
}

.sysprompt
{
position:relative;
left:2em;
width:70%;
height:1em;
color:black;
cursor:pointer;
padding:0.5em;
margin-bottom:0.5em;
text-align:left;
}


.org_od
{
border:1px solid black;
position:relative;
left:5em;
width:32em;
height:3em;
margin-top:0.5em;
padding:0.5em;
}

.org_id1
{
position:relative;
}

div.org_id2
{

position:relative;
left:3%;
width:95%;
height:1em;
z-index:2;
text-align:left;
margin-bottom:0.5em;

}

.orgprompt
{
position:relative;
left:3%;
width:95%;
height:1em;
color:black;
z-index:3;
padding:0.5em;
text-align:left;
margin-bottom:0.5em;
cursor:pointer;

}


div.tiss_od
{
border:1px solid black;
position:relative;
left:8em;
width:32em;
height:3em;
padding:0.5em;
margin:1%;
}

.tiss_id1
{
position:relative;
}

div.tiss_id2
{
position:relative;
left:1em;
width:90%;
height:1em;
z-index:2;
text-align:left;
white-space:nowrap; 
text-overflow:ellipsis;
}


.tissprompt
{
position:relative;
left:1em;
width:95%;
color:black;
z-index:3;
height:1em;
padding:0.5em;
text-align:left;
margin-bottom:0.5em;
cursor:pointer;
}

.cell_od
{
border:1px solid black;
position:relative;
left:10em;
width:32em;
height:3em;
margin:0.5em;
padding:0.5em;
}

.cell_id1
{
position:relative;
}

.cell_id2
{
position:relative;
left:1em;
width:95%;
height:1em;
z-index:2;
text-align:left;
}

.cellprompt
{
position:relative;
left:1em;
height:1em;
width:95%;
color:black;
z-index:3;
margin:0.5em;
padding:0.5em;
cursor:pointer;
text-align:left;
}

.vert {}

#protitle {position:relative;float:left;border:2em ridge;height:3em;width:60%;padding-top:1em;margin:5% 14%;font-size:1.5em;text-align:center;background-color:white;color:blue;}
#titlebar {position:relative;width:90%;margin:2%;border:6px ridge;float:left;height:1em;padding:1em;background-color:white;z-index:3;font-size:1.0em}
#htitle {float:left;width:30%;color:blue;text-align:center;}
#gtitle {float:left;width:47%;color:blue;text-align:center;}
#dtitle  {float:left;width:23%;color:blue;text-align:center;}
#menutable {
	width:30%;
	height:auto;
	cursor:pointer
	
}

h {position:relative}

#gphtitle {width:98%;height:4em;}
#tab1 {position:relative;font-size:1.0em;z-index:5;float:left;left:1px;top:10px;border:1px dashed;border-style:dashed dashed none dashed;height:100%;width:20%;margin-left:2%;margin-right:2%;text-align:center;background-color:tan;cursor:pointer;padding-top:0.3em}
#tab2 {position:relative;font-size:1.0em;z-index:5;float:left;left:1px;top:10px;border:1px dashed;border-style:dashed dashed none dashed;height:100%;width:20%;margin-right:2%;text-align:center;cursor:pointer;padding-top:0.3em}

#gphmess {position:relative;float:left;font-size:1.0em;padding-bottom:1.0em;width:48%;height:100%;margin-top:1.0em;color:red;cursor:pointer}
#gphdisp {position:relative;float:clear;border:1px dashed;border-style: none none solid solid; height:92%;margin-left:2%;margin-top:1.5em;width:95%;background-color:tan;z-index:5;}
#gphdisp2 
	{
		position:relative;
		width:100%;
		height:98%;
		z-index:20;
		background-color:transparent;
	}

#gui {
			position:relative;
            float:left;
			width:97%;
			height:150em;
			border-style:ridge;
		        border-color:grey;
                        background-color:yellow;
		        border-width:20px 20px 20px 20px; 
		 
			
			
	}

div.otrframe {position:relative;width:100%;height:100%;background-color:yellow}
div#harchframe {position:relative;float:left;height:55%;width:30%;margin-left:4vw;font-size:0.95em;border-style:solid solid solid solid;overflow: scroll;background-color:beige;border:1px solid black;}
#grphframe1 {position:relative;float:left;height:55%;width:40%;font-size:1em;border-style:solid none;overflow: scroll;background-color:beige;border:1px solid black;z-index:1}
div.dispframe {position:relative;float:left;height:55%;width:20%;font-size:1em;background-color:beige;border:1px solid black;overflow: scroll}
#mySVG {z-index:25;top:-10em;height:100%;width:100%}

#panel
{
position:absolute;
display:none;
width:80%;
height:auto;
margin:0.5em;
font-size:1.25em;
text-align:center;
background-color:yellow;
border: ridge 10px;
z-index:30;
}

#footContainer {
      }
	  
	  
#hmenuContainer{position:relative}