body 
	{
		position:relative;
		font-family:Impact,fantasy;
		width:100%;
		
	}

li {margin-top:0.75em}


#headBar
	{
	 
	 border-style:ridge;
	 border-color:grey;
	 border-width:20px 20px 20px 20px;
	
	}
	
	
#outDiv{

	position:relative;
	width:97%;
	height:100%;
	border-style:ridge;
	border-color:grey;
	border-width:20px 20px 20px 20px;
       
	background: -webkit-linear-gradient(purple,silver); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(purple,silver); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(purple,silver); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(purple,silver); /* Standard syntax */
	

}

#oframe{
	position:relative;
	margin:auto;
	top:-4em;
	left:-3em;
	height:auto;
	width:55em;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
	border:6px groove gray;
	 }