

body {
   width:100%;
   height:61em;
}

#headr
{
   height:auto;
   width:880px;
   text-align:center;
   border-width:0 0 7px 0;
   background-color:#D8D8D8;
   font-size:2.0em;
   padding:5px 0;
}


#status {
                position:relative;background-color:beige; height:13.2em;width:880px;border-width: 0px 0px 10px 0px;padding-top:0.2%;
             }
   
.cell 
{
float:left;height:95%;width:11.5%;background-color:yellow;text-align:center;margin:0.5 2.5 2.5 0.5%;cursor:pointer;z-index:1;

}


.scell 
{
  height:50px;padding-top:15px;width:42px;float: right;background-color:yellow;text-align:center;
}




.tcell 
{
 float:left;height:50%;width:10.8%;background-color:yellow;text-align:center;
}  



#xbar {background-color:tan;float:right;padding-top:10px;height:34px;width:792px;font-size:0.7em}
#ybar
	{
		background-color:tan;
		float:left;
		height:521px;
		padding-left:10px;
		width:32px;
		
		font-size:0.7em
	}
#inner {
  width: 0;word-wrap: break-word;
}
#inner2 {
  text-align:center;letter-spacing:5px
}



.grow 
{
  position:relative;width:780px;height:63px;padding:1px 3px 1px 10px;margin:1px;
}

.topbar 
{
   float:left;width:880px;height:88px;background-color:yellow;font-size: 0.6em;
}




.sidebar 
{
   float:left;height:521px;width:84px;font-size: 0.6em;background-color:tan;
}


#playarea
{
   float:left;width:793px;height:520px;font-size:0.9em;padding:0.5px 0.5px 0.5px 0.5px;background-color:tan;
}

#gboard
{
 height:617px;width:878px;font-size:2.5em;
}




#formcontainer{
	position:relative;
	width: 878px;
	height:auto;
	padding-bottom:0.5em;
}
#message{
	position:relative;
	width:auto;
	height:auto;
	text-align:center;
	margin:1em 0;
}

#xval
{
    border: dashed 1px black; font-size:1.1em;height:auto;width:75%;margin-top:2px;margin-left:10%;padding-bottom:2%;
}

#yval
{
   border: dashed 1px black; font-size:1.1em;height:auto;width:75%;margin-top:2px;margin-left:10%;padding-bottom:2%;
} 

#xval input, #yval input {font-size:1.0em}


#message
{
     border: dashed 1px blue; height:;width:85%;margin:2px 0 2px 7%;text-align:center;font-size:1.25em;padding-bottom:0.5em;
}
    
#subbutton  {height:11%;width:35%;margin: 6px 20% 2px 37%;font-size:0.85em;}    

#playbutton  {height:14%;width:35%;margin: 6px 20% 2px 37%;font-size:0.85em;}     

#nextbutton {height:14%;width:35%;margin: 6px 20% 2px 37%;font-size:0.85em;}

#botcontainer {relative:position;height:69%;}

#frontPage {position:relative;float:right;height:auto;width:170px;margin-right:10px;border: solid 2px black;background:orange;font-size:0.7em;padding: 3px 2px 3px 1px}

#resetGame {position:relative;float:left;height:auto;width:170px;margin-left:10px;border: solid 2px black;background:orange;font-size:0.7em; padding: 3px 2px 2px 1px}

.setCursor {cursor:pointer}

#resetGame, #frontPage {border-radius: 5px;}